* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; /* 모든 링크에 밑줄 없애기 */
    color: inherit;
}

p {
    margin: 20px 0; /* 위아래 여백 조정 */
    white-space: pre; /* 공백 및 줄바꿈 유지 */
}

.header {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #009506;
    width: 100%;
    height: 100px;
    padding: 0px;
    z-index: 10;
}

#header_logo {
    position: fixed;
    background-color:rgba(0, 0, 0, 0);
    left: 15px;
    top: 10px;
    width: 80px;
    border: 0;
}

#header_title {
    height: 250px;
    width: auto;
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header_close {
    position: fixed;
    background-color:rgba(0, 0, 0, 0);
    top: 10px;
    right: 0px;
    width: 80px;
    border: 0;
}

.menu_bar {
    margin-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
    border-right: 3px solid green;
    height: 100%;
    width: 200px;
    display: flex; /* Flexbox 레이아웃 사용 */
    flex-direction: column; /* 세로로 정렬 */
    justify-content: flex-start; /* 맨 위 정렬 */
    align-items: center; /* 버튼을 수직 가운데 정렬 */
    z-index: 2;
}

.menu_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* 부모 요소에 position: relative; 추가 */
}

.indicator {
    width: 10px;
    height: 120px;
    background-color: #ffca06;
    position: absolute;
    top: 10px; /* 원하는 위치로 조절 */
    left: 10px; /* 원하는 위치로 조절 */
    z-index: 3; /* 더 높은 z-index 값으로 설정 */
    display: none;
    transform: translate(102px, -270px);
}

.menu_button img {
    width: 90%;
}

.sandwich_button {
    font-size: 20px;
    border: 0;
}

.salad_button {
    font-size: 20px;
    border: 0;
}

.lab_button {
    font-size: 20px;
    border: 0;
}

.beverage_button {
    font-size: 20px;
    border: 0;
}

.button {
    width: 100%;
    height: 100%;
    margin: 5px;
}

.charge_bar {
    background-color: #2E3238;
    color: yellow;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    height: 60px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.charge_bar_button-style {
    font-size: 30px;
    background-color: #2E3238;
    color: yellow;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: flex;
    top: 20%;
    position: absolute;
}

.charge_bar .return_button {
    left: 5%;
}

.charge_bar .basket_button {
    right: 20%;
}

.charge_bar .payment_button {
    right: 5%;
}

.main_content {
    margin-top: 100px;
    margin-left: 250px; /* 메뉴 바의 너비만큼 왼쪽 마진 추가 */
    padding: 20px;
}


/*팝업창 관련 css*/
.product-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 9998;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 800px; /* 너비를 400px로 설정 (조절 가능) */
    height: 1000px; /* 높이를 300px로 설정 (조절 가능) */
    display: none;
    border-radius: 20px 20px 20px 20px;
}

.product-popup-header {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #009506;
    width: 800px;
    height: 70px;
    padding: 0px;
    border-radius: 20px 20px 0px 0px;
}

#product-popup_logo {
    position: fixed;
    background-color:rgba(0, 0, 0, 0);
    left: 15px;
    top: 10px;
    width: 50px;
    border: 0;
}

.product-popup-footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    background-color: #ffca06;
    width: 800px;
    height: 70px;
    padding: 0px;
    border-radius: 0px 0px 20px 20px;
}

#close-popup {
    position: fixed;
    background-color:rgba(0, 0, 0, 0);
    right: 3px;
    top: -5px;
    width: 65px;
    border: 0;
    display: block;
    margin-top: 10px;
}

#product-name {
    position: fixed;
    font-size: 40px;
    left: 100px;
    color: white;
    top: 15px;
}

.product-basket {
    position: fixed;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 800px;
    height: 1000px;
    display: none;
    border-radius: 20px 20px 20px 20px;
}

.product-basket-header {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #009506;
    width: 800px;
    height: 70px;
    padding: 0px;
    border-radius: 20px 20px 0px 0px;
}

.product-basket-footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    background-color: #ffca06;
    width: 800px;
    height: 70px;
    padding: 0px;
    border-radius: 0px 0px 20px 20px;
}

#product-basket_logo {
    position: fixed;
    background-color:rgba(0, 0, 0, 0);
    left: 15px;
    top: 10px;
    width: 50px;
    border: 0;
}

#close-basket {
    position: fixed;
    background-color:rgba(0, 0, 0, 0);
    right: 3px;
    top: -5px;
    width: 65px;
    border: 0;
    display: block;
    margin-top: 10px;
}

#total-price {
    color: #2E3238;
    font-size: 30px;
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    padding: 10px 20px;
}

#product-basket-charge {
    font-size: 30px;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    background-color: #2E3238;
    color: yellow;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: flex;
    top: 0%;
    width: 200px;
    height: 50px;
    position: absolute;
    right: 0px;
    border-radius: 0px 0px 20px 0px;
}

.product-details {
    text-align: center;
}

#add-to-cart {
    font-size: 30px;
    width: 800px;
    height: 80px;
    background-color: #ffca06;
    border: 0;
    cursor: pointer;
    display: block; /* 이 스타일을 추가합니다. */
    margin: 0 auto; /* 이 스타일을 추가합니다. */
    border-radius: 0px 0px 20px 20px;
}

#product-image {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
}

#basket-items {
    position: fixed;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    height: 800px;
    width: 700px;
    font-size: 20px;
}

.product-options {
    width: 700px;
    height: 500px;
    border: 3px solid orange;
    border-radius: 12px;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-options-header {
    width: 700px;
    height: 50px;
    background-color: orange;
    border-radius: 8px 8px 0px 0px;
}

.option_select_text {
    color: white;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-charge {
    position: fixed;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 800px;
    height: 1000px;
    display: none;
    border-radius: 20px 20px 20px 20px;
}

.product-charge-main {
    position: fixed;
    top : 53%;
    left : 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    width: 720px;
    height: 850px;
    z-index: 10001;
    display: none;
}

.product-charge-header {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #009506;
    width: 800px;
    height: 70px;
    padding: 0px;
    border-radius: 20px 20px 0px 0px;
}

#product-charge_logo {
    position: fixed;
    background-color:rgba(0, 0, 0, 0);
    left: 15px;
    top: 10px;
    width: 50px;
    border: 0;
}

#close-charge {
    position: fixed;
    background-color:rgba(0, 0, 0, 0);
    right: 3px;
    top: -5px;
    width: 65px;
    border: 0;
    display: block;
    margin-top: 10px;
}

.charge-by-card {
    position: fixed;
    background-color: white;
}

.charge-by-kakaopay {
    position: fixed;
    background-color: white;
}

.charge-by-naverpay {
    position: fixed;
    background-color: white;
}

.final-charge-bar {
    color: #2E3238;
    top : 85%;
    left : 75%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    width: 250px;
    position: fixed;
    padding-right: 20px;
}

/*.product-charge-footer {*/
/*    position: fixed;*/
/*    bottom: 0%;*/
/*    left: 0%;*/
/*    background-color: #ffca06;*/
/*    width: 800px;*/
/*    height: 70px;*/
/*    padding: 0px;*/
/*    border-radius: 0px 0px 20px 20px;*/
/*}*/

img {
    width: 90%;
}

td {
    width: 0.1%;
    color: #009506;
    text-align: center;
    font-size: 25px;

    height: 300px;
}

.cart-item {
    margin-bottom: 20px;
}